.header {
  padding: 1rem;
  background-color: beige;
}

.matchmaking {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.pokemon-card {
  width: 9rem;
  height: 9rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.tooltip {
  position: absolute;
  background-color: aqua;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}